# --- PUBLISH TO GITHUB PACKAGES ---
@newustechnology:registry=https://npm.pkg.github.com

# --- AUTH TOKEN placeholder untuk workflow ---
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
registry=https://registry.npmjs.org/

# NPM token (diset di GitHub Actions)
 //registry.npmjs.org/:_authToken=${NPM_TOKEN}
